.table{
    background-color: rgb(4, 255, 0);
    border:20px;
    block-size: 200px;
}
.row{
    background-color:light gray;
}
.Header{
    color:white;
    background-color: blue;
    text-align: center;
}